body {
    font-weight: 600 !important;
}
.white {
    color: white;
}
.container {
    padding: 0 20px;
    text-align: justify;
}
.header {
    position: relative;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-weight: 400;
}
.header a {
    color: black;
    font-weight: bold;
    letter-spacing: -0.5px;
    text-decoration-line: underline;
}
.header_word p {
    letter-spacing: 0.12em;
    color: #4A4A4A;
    font-weight: 400;
}
.primary_btn {
    font-weight: bold;
    border: none;
    padding: 12px;
    background-color: #598BED;
    box-shadow: 0px 0px 10px 2px rgba(157, 157, 157, 0.25);
    border-radius: 8px;
    margin-top: 45px;
}

.modal-content {
    border-radius: 20px;
    border: none;
}
.modal-header {
    border-bottom: none;
}
.modal-body {
    padding: 30px 20px 50px;
}
.modal-body .primary_btn p {
    min-width: 132px;
}
.modal.show .modal-dialog {
    margin: 20px;
    transform: translate(0,50%) !important;
}
.btn-close , .btn_close {
    width: 32px;
    position: absolute;
}
.btn-close {
    right: -10px;
    top: -12px;
    opacity: 1;
}
.btn_close {
    right: 10px;
    top: 6px;
}

.success_container {
    padding: 47% 54px;
}
.success_container h5 {
    padding: 50px 0;
}